<!doctype html>
<!--[if lt IE 7 ]><html lang="en"  xmlns:og="http://ogp.me/ns#" class="no-js ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en" xmlns:og="http://ogp.me/ns#" class="no-js ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" xmlns:og="http://ogp.me/ns#" class="no-js ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" xmlns:og="http://ogp.me/ns#" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" xmlns:og="http://ogp.me/ns#" class="no-js"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{{ site.name }} .:. Afro Banana Republic</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="copyright" content="2011 - {{ site.time | date: "%Y" }} Afro Banana Republic">
    <meta name="author" content="github.com/rudasn">
    <meta name="source" content="github.com/afrobanana">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta http-equiv="cleartype" content="on">
    <meta property="fb:admins" content="273104166" >
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:type" content="website" >
    <meta property="og:url" content="http://{{ site.domain }}{{ site.root }}{{ page.url }}" >
    <meta property="og:title" content="{{ site.name }}" >
    <meta property="og:image" content="http://{{ site.domain }}{{ site.root }}/static/images/" >
    <meta property="og:description" content="{{ site.description }}" >
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="The Afro Banana Republic, Cyprus">
    <link rel="stylesheet" href="{{ site.root }}/static/css/main.css?v={{ site.time | date: "%U%j%H%S" }}" media="all">
</head>
<body>
<script type="text/javascript">
(function(){var bcn = document.body.parentNode.className;document.body.parentNode.className=bcn.replace(/no\-js/,'has-js');})();
</script>
<div class="c361-wrapper">
    <header class="c361-header-global">
        <div class="c361-inner">
            <h1 class="c361-heading"><a href="">{{ site.name }}</a></h1>
            <h2 class="c361-heading c361-date">
                14 September 2013
                <small>18:00 until early in the morning &mdash; 12&euro;</small>
            </h2>
        </div>
    </header>
    <hr class="c361-helper">
    <section class="c361-content">
        <section class="c361-hero">
            <div class="c361-inner">
                <div class="c361-video">
                    <img src="http://placehold.it/1100x620">
                </div>
                <nav class="c361-nav-global">
                    <h3 class="c361-helper">Navigation</h3>
                    <ol class="nav-horizontal">
                        <li class="nav-item"><a href="#lineup">Line Up</a></li>
                        <li class="nav-item"><a href="#drinks">Drinks &amp; Food</a></li>
                        <li class="nav-item"><a href="#location">Location</a></li>
                        <li class="nav-item"><a href="#about">About</a></li>
                    </ol>
                </nav>
            </div>
        </section>
        <section class="c361-lineup" id="lineup">
            <div class="c361-inner">
                <h2 class="c361-helper">Line Up</h2>
                <section class="c361-lineup-stage">
                    <h3 class="c361-heading">In the Camp</h3>
                    <div class="c361-lineup-stage-meta">
                        <span class="c361-lineup-stage-meta-date">00:00 &mdash; 00:00</span>
                    </div>
                    <ol class="c361-lineup-list">
                        <li class="c361-lineup-list-item">
                            <h4 class="c361-heading">Mr. Ties</h4>
                           <a><img class="c361-lineup-list-item-image" src="{{ site.root }}/static/images/djs/mr-ties.jpg" width="350" height="752"></a>
                            <p class="c361-lineup-list-item-meta">
                                <span class="c361-lineup-list-item-time">2:30</span>
                                <span class="c361-lineup-list-item-type">dj set</span>
                                <span class="c361-lineup-list-item-genres">Funk; Soul; Disco</span>
                            </p>
                            <div class="c361-lineup-list-item-description">
                                <p>One of the most enigmatic, eclectic, and sought after DJs in Berlin's Underground scene, even though he is originally from Italy. He melts styles, genders and customs to provide a pure essence of his own vision of Funk and Soul.</p>
                                <p>(Homopatik)</p>
                                <p>Berlin, IT</p>
                            </div>
                        </li>
                        <li class="c361-lineup-list-item">
                            <h4 class="c361-heading">Jimmy Jib</h4>
                           <a><img class="c361-lineup-list-item-image" src="{{ site.root }}/static/images/djs/jimmy-jib.jpg" width="350" height="752"></a>
                            <p class="c361-lineup-list-item-meta">
                                <span class="c361-lineup-list-item-time">1:00</span>
                                <span class="c361-lineup-list-item-type">dj set</span>
                                <span class="c361-lineup-list-item-genres">Disco; Afrobeat; Afro-Disco</span>
                            </p>
                            <div class="c361-lineup-list-item-description">
                                <p>Known as one of the most alternative DJs in Greece, he leaves the dancefloor speechless with his African music gems, which he combines masterfully with Groovy Disco from a forgotten era.</p>
                                <p>(Echovolt Rec.)</p>
                                <p>Berlin, GR</p>
                            </div>
                        </li>
                        <li class="c361-lineup-list-item">
                            <h4 class="c361-heading">Afro-Μπάντα Banana</h4>
                           <a><img class="c361-lineup-list-item-image" src="{{ site.root }}/static/images/djs/jimmy-jib.jpg" width="350" height="752"></a>
                            <p class="c361-lineup-list-item-meta">
                                <span class="c361-lineup-list-item-time">22:00</span>
                                <span class="c361-lineup-list-item-type">live</span>
                                <span class="c361-lineup-list-item-genres">Afrobeat</span>
                            </p>
                            <div class="c361-lineup-list-item-description">
                                <p>The first of its kind in Cyprus, and dedicated to the sound of Afrobeat. Afro-Μπάντα Banana is guaranteed to make you dance. Rumour has it that Cotsios O Pikatillis will join the band on stage to offer his voice to some explosive tunes.</p>
                                <p>(ABR)</p>
                                <p>Nicosia</p>
                            </div>
                        </li>
                        <li class="c361-lineup-list-item">
                            <h4 class="c361-heading">Cotsios o Pikatillis</h4>
                           <a><img class="c361-lineup-list-item-image" src="{{ site.root }}/static/images/djs/cotsios-o-pikatillis.jpg" width="350" height="752"></a>
                            <p class="c361-lineup-list-item-meta">
                                <span class="c361-lineup-list-item-time">12:00</span>
                                <span class="c361-lineup-list-item-type">dj set</span>
                                <span class="c361-lineup-list-item-genres">Funk; Electro Funk; Afrobeat; Afro-Disco</span>
                            </p>
                            <div class="c361-lineup-list-item-description">
                                <p>He blows us away every time he is on stage! We will be bouncing on our feet with Cotsios o Pikatillis and his unique way of fusing Disco with sounds from the deep lost forests of Africa.</p>
                                <p>(ABR)</p>
                                <p>Nicosia, Berlin</p>
                            </div>
                        </li>
                        <li class="c361-lineup-list-item">
                            <h4 class="c361-heading">Casus Belli</h4>
                           <a><img class="c361-lineup-list-item-image" src="{{ site.root }}/static/images/djs/cotsios-o-pikatillis.jpg" width="350" height="752"></a>
                            <p class="c361-lineup-list-item-meta">
                                <span class="c361-lineup-list-item-time">20:00</span>
                                <span class="c361-lineup-list-item-type">live</span>
                                <span class="c361-lineup-list-item-genres">Classic pop/rock,funk,Latin ,jazz</span>
                            </p>
                            <div class="c361-lineup-list-item-description">
                                <p>Casus Belli are promising to keep us entertained with their own compositions, but also covers from Classic Pop/ Rock, Latin, Jazz repertoire, incorporated into a highly successful live performance.</p>
                                <p>Limassol</p>
                            </div>
                        </li>
                        <li class="c361-lineup-list-item">
                            <h4 class="c361-heading">Koulla P. Katsikoronou</h4>
                           <a><img class="c361-lineup-list-item-image" src="{{ site.root }}/static/images/djs/koula.jpg" width="350" height="752"></a>
                            <p class="c361-lineup-list-item-meta">
                                <span class="c361-lineup-list-item-time">21:00</span>
                                <span class="c361-lineup-list-item-type">dj set</span>
                                <span class="c361-lineup-list-item-genres">Funk; Ethnic</span>
                            </p>
                            <div class="c361-lineup-list-item-description">
                                <p>Koulla P. Katsikoronou, whos work is constantly raising the bar for local production and puts Cyprus on the world's music map, will flood the Colony with an Ethno-Funky energy.</p>
                                <p>Nicosia</p>
                            </div>
                        </li>
                        <li class="c361-lineup-list-item">
                            <h4 class="c361-heading">Giorgos Sisamos</h4>
                           <a><img class="c361-lineup-list-item-image" src="{{ site.root }}/static/images/djs/giorgos-sisamos.jpg" width="350" height="752"></a>
                            <p class="c361-lineup-list-item-meta">
                                <span class="c361-lineup-list-item-time">23:00</span>
                                <span class="c361-lineup-list-item-type">dj set</span>
                                <span class="c361-lineup-list-item-genres">Afrobeat; Latin; Ethnic</span>
                            </p>
                            <div class="c361-lineup-list-item-description">
                                <p>Giorgos Sisamos scratches the surface of a lot of genres like Afrobeat, Latin, and other World music that has a common aim: to travel the core of the self, to the roots of existence.</p>
                                <p>Limassol</p>
                            </div>
                        </li>
                        <li class="c361-lineup-list-item">
                            <h4 class="c361-heading">John Pikpas</h4>
                           <a><img class="c361-lineup-list-item-image" src="{{ site.root }}/static/images/djs/john-pikpas.jpg" width="350" height="752"></a>
                            <p class="c361-lineup-list-item-meta">
                                <span class="c361-lineup-list-item-time">18:00</span>
                                <span class="c361-lineup-list-item-type">dj set</span>
                                <span class="c361-lineup-list-item-genres">Hip Hop;</span>
                            </p>
                            <div class="c361-lineup-list-item-description">
                                <p>He has written countless texts about music. John Pikpas doesn't know how to mix but he can play 90's Hip hop, pierced beats, instrumentals, and AKAI & Roland's basslines. Rumors have it that he knows all the credits of the Tamla releases off by heart.</p>
                                <p>Nicosia</p>
                            </div>
                        </li>
                    </ol>
                </section>
                <section class="c361-lineup-stage">
                    <h3 class="c361-heading">In the Woods</h3>
                    <div class="c361-lineup-stage-meta">
                        <span class="c361-lineup-stage-meta-date">00:00 &mdash; 00:00</span>
                    </div>
                    <ol class="c361-lineup-list">
                        <li class="c361-lineup-list-item">
                            <h4 class="c361-heading">Ed Davenport</h4>
                           <a><img class="c361-lineup-list-item-image" src="{{ site.root }}/static/images/djs/ed-davenport.jpg" width="350" height="752"></a>
                            <p class="c361-lineup-list-item-meta">
                                <span class="c361-lineup-list-item-time">03:00</span>
                                <span class="c361-lineup-list-item-type">dj set</span>
                                <span class="c361-lineup-list-item-genres">House; Techno</span>
                            </p>
                            <div class="c361-lineup-list-item-description">
                                <p>Based in Berlin, British born Ed Davenport's reputation as a DJ has put him behind the decks in the top clubs of the German capital, including regular gigs at Berghain/ Panorama Bar. He is amongst some of the world's most celebrated Techno-House DJs.</p>
                                <p>(Liebe*Detail, Counterchange)</p>
                                <p>Berlin, GB</p>
                            </div>
                        </li>
                        <li class="c361-lineup-list-item">
                            <h4 class="c361-heading">Turmspringer</h4>
                           <a><img class="c361-lineup-list-item-image" src="{{ site.root }}/static/images/djs/turmspringer.jpg" width="350" height="752"></a>
                            <p class="c361-lineup-list-item-meta">
                                <span class="c361-lineup-list-item-time">4:30</span>
                                <span class="c361-lineup-list-item-type">dj set</span>
                                <span class="c361-lineup-list-item-genres">Soulful Funky-Techno; Electro Funk; Afro Funk</span>
                            </p>
                            <div class="c361-lineup-list-item-description">
                                <p>The successful DJ-Team "Turmspringer" have, since 2002, been playing everywhere across the length and breadth of the world. These magicians of the decks, will shake the crowds with explosive Soulful Funky-Techno music.</p>
                                <p>(Tonkind, Get Physical)</p>
                                <p>Berlin</p>
                            </div>
                        </li>
                        <li class="c361-lineup-list-item">
                            <h4 class="c361-heading">Neco</h4>
                           <a><img class="c361-lineup-list-item-image" src="{{ site.root }}/static/images/djs/neco.jpg" width="350" height="752"></a>
                            <p class="c361-lineup-list-item-meta">
                                <span class="c361-lineup-list-item-time">0:00</span>
                                <span class="c361-lineup-list-item-type">dj set</span>
                                <span class="c361-lineup-list-item-genres">House; Tech-House</span>
                            </p>
                            <div class="c361-lineup-list-item-description">
                                <p>The hypnotic and melodic sound, along with the feminine sensitivity, has made Neco the new secret Tip in Berlin's Club scene. She's coming to ABR for the second time round to mesmerize the crowds.</p>
                                <p>(Oh Jesus!)</p>
                                <p>Japan, Berlin</p>
                            </div>
                        </li>
                        <li class="c361-lineup-list-item">
                            <h4 class="c361-heading">TEKNON BRUTUS</h4>
                           <a><img class="c361-lineup-list-item-image" src="{{ site.root }}/static/images/djs/teknon-brutus.jpg" width="350" height="752"></a>
                            <p class="c361-lineup-list-item-meta">
                                <span class="c361-lineup-list-item-time">06:00</span>
                                <span class="c361-lineup-list-item-type">dj set</span>
                                <span class="c361-lineup-list-item-genres">Disco-Techno; Groovy Funk</span>
                            </p>
                            <div class="c361-lineup-list-item-description">
                                <p>The Cypriot - Chilean Teknon Brutus, actively involved in the party scene in Berlin since 2001 - is coming to conquer us with a psychedelic atmosphere, which embraces the Drive of Techno, the melody and romance of Disco, and the groove of Funk.</p>
                                <p>(Tonkind, ABR)</p>
                                <p>Berlin</p>
                            </div>
                        </li>
                        <li class="c361-lineup-list-item">
                            <h4 class="c361-heading">Tony Cusack aka Neti Neti </h4>
                           <a><img class="c361-lineup-list-item-image" src="{{ site.root }}/static/images/djs/tony-cusack.jpg" width="350" height="752"></a>
                            <p class="c361-lineup-list-item-meta">
                                <span class="c361-lineup-list-item-time">01:30</span>
                                <span class="c361-lineup-list-item-type">dj set</span>
                                <span class="c361-lineup-list-item-genres">Acid House; Funk; Disco</span>
                            </p>
                            <div class="c361-lineup-list-item-description">
                                <p>Tony Cusack aka Neti Neti, will guide us through his particular sound-universe, taking us deeply and slowly from classic Afro sound to a strong Acid House, Funk, Disco atmosphere driven by analog bass and 808 pulses.</p>
                                <p>(ABR)</p>
                                <p>Nicosia</p>
                            </div>
                        </li>
                    </ol>
                </section>
                <section class="c361-lineup-stage">
                    <h3 class="c361-heading">In the Box</h3>
                    <div class="c361-lineup-stage-meta">
                        <span class="c361-lineup-stage-meta-date">00:00 &mdash; 00:00</span>
                    </div>
                    <ol class="c361-lineup-list">
                        <li class="c361-lineup-list-item">
                            <h4 class="c361-heading">MR FOX</h4>
                           <a><img class="c361-lineup-list-item-image" src="{{ site.root }}/static/images/djs/mr-fox.jpg" width="350" height="752"></a>
                            <p class="c361-lineup-list-item-meta">
                                <span class="c361-lineup-list-item-time">01:30</span>
                                <span class="c361-lineup-list-item-type">dj set</span>
                                <span class="c361-lineup-list-item-genres">Disco; House; Techno</span>
                            </p>
                            <div class="c361-lineup-list-item-description">
                                <p>Mr Fox who continually impresses us with his own productions, will electrify the atmosphere of IN THE BOX stage, with his unique style of Disco, Electronic House and Techno fusion.</p>
                                <p>Limassol</p>
                            </div>
                        </li>
                        <li class="c361-lineup-list-item">
                            <h4 class="c361-heading">Mpakkalis (Simply Nick) &amp; Astronaut</h4>
                           <a><img class="c361-lineup-list-item-image" src="{{ site.root }}/static/images/djs/mpakkalis-astronaut.jpg" width="350" height="752"></a>
                            <p class="c361-lineup-list-item-meta">
                                <span class="c361-lineup-list-item-time">03:00</span>
                                <span class="c361-lineup-list-item-type">dj set</span>
                                <span class="c361-lineup-list-item-genres">Dark Disco; Tech House</span>
                            </p>
                            <div class="c361-lineup-list-item-description">
                                <p>The successful DJ-Team, despite their sparse appearances, has succeeded to capture us and remain unforgettable. Their Dark Disco aesthetic, in combination with Tech House contributes to a moody pulsating atmosphere.</p>
                                <p>Nicosia</p>
                            </div>
                        </li>
                    </ol>
                </section>
            </div>
        </section>
        <section class="c361-drinks" id="drinks">
            <div class="c361-inner">
                <h2 class="c361-heading">Drinks &amp; Food</h2>
                <p>ABR festivities cannot be enjoyed on an empty stomach!</p>
                <p>Our Chef will be preparing amazingly delicious food for you, with the support of our friends from Utopia Collectiva. And for those of you that have a sweet tooth, ‘Silkies’ will be cooking up some special, tasty illustrations!</p>
                <p>You can find them both at our new Colony’s central Square.</p>
                <p>Rumour has it that ABR have created a special cocktail exclusively for this night.</p>
            </div>
        </section>
        <section class="c361-location" id="location">
            <div class="c361-inner">
                <h2 class="c361-helper">Location</h2>
                <address>
                    Dasos Athalassas, Geri, <br>
                    Nicosia (CY) <br>
                    <a href="">See Map.</a>
                </address>
            </div>
        </section>
        <section class="c361-about" id="about">
            <div class="c361-inner">
                <h2 class="c361-heading">About</h2>
                <p>The Afro Banana Republic is a team composed of artists from various fields who set out to develop the Cypriot creative alternative scene. By encouraging collaborations between different fields we aim to explore the potential of home grown talent. By providing a platform for these artists to produce and present their work, we allow for them to promote their art and themselves in Cyprus and the rest of the world.</p>
                <div class="c361-about-col1">
                    <dl>
                        <dt>Organisation</dt>
                        <dd>Anna Kyprianou (<abbr title="Afro Banana Republic">ABR</abbr>)</dd>
                        <dd>Cotsios O Pikatillis (<abbr title="Afro Banana Republic">ABR</abbr>)</dd>
                        <dd>Martha Georgiou (<abbr title="Afro Banana Republic">ABR</abbr>)</dd>
                    </dl>
                    <dl>
                        <dt>Bookers</dt>
                        <dd>Lee</dd>
                        <dd>Baitelman</dd>
                    </dl>

                    <dl>
                        <dt>Drinks &amp; Food</dt>
                        <dd>Costas (bar)</dd>
                        <dd>Utopia Collectiva (Food quarter)</dd>
                    </dl>
                    </dl>

                    <dl>
                        <dt>Location Setup Design</dt>
                        <dd>Cotsios O Pikatillis (<abbr title="Afro Banana Republic">ABR</abbr>)</dd>
                    </dl>

                    <dl>
                        <dt>Location Setup Construction</dt>
                        <dd>Stefan Irimi</dd>
                        <dd>Saeed</dd>
                    </dl>

                    <dl>
                        <dt>Art Direction</dt>
                        <dd>Demetris Soteriou (<abbr title="Afro Banana Republic">ABR</abbr>)</dd>
                    </dl>
                    <dl>
                        <dt>Animation Film Production</dt>
                        <dd><strong>Artwork &amp; Script:</strong> Demetris Soteriou</dd>
                        <dd><strong>Animation:</strong> Athos Proestos (Pro Motion DM)</dd>
                        <dd><strong>Sound Design:</strong> Alexis Baitelman</dd>
                        <dd><strong>Music:</strong> Deela - Cumbia de la Paz</dd>
                    </dl>
                </div>
                <div class="c361-about-col2">
                    <dl>
                        <dt>Film Documentation</dt>
                        <dd>Vber -Vangelis Berikopoulos</dd>
                    </dl>
                    <dl>
                        <dt>Light Design &amp; Installation</dt>
                        <dd>Alexandros Papageorgiou</dd>
                    </dl>
                    <dl>
                        <dt>3D Visual Arts</dt>
                        <dd>Constantinos Demosthenous</dd>
                    </dl>
                    <dl>
                        <dt>Space Transformation Documentation</dt>
                        <dd>BlackCut</dd>
                    </dl>
                    <dl>
                        <dt>Costume Design</dt>
                        <dd>Eleonora Antoniadou</dd>
                    </dl>
                    <dl>
                        <dt>Signage Design</dt>
                        <dd>Alexis Michaelides</dd>
                    </dl>
                    <dl>
                        <dt>Screenprint Illustrations</dt>
                        <dd>Simone Philippou</dd>
                    </dl>
                    <dl>
                        <dt>Sculpture</dt>
                        <dd>Nicolas Hasapopoulos</dd>
                    </dl>
                    <dl>
                        <dt>Journal Archives</dt>
                        <dd>Andreas Stylianou</dd>
                    </dl>
                </div>
                <div class="c361-about-col3">
                    <dl>
                        <dt>Interactive Light Art</dt>
                        <dd>Constantinos Kepolas</dd>
                        <dd>Tim Brügemann</dd>
                    </dl>
                    <dl>
                        <dt>Media Communication</dt>
                        <dd>Martha Georgiou (<abbr title="Afro Banana Republic">ABR</abbr>)</dd>
                        <dd>Stephanie Polycarpou</dd>
                    </dl>
                    <dl>
                        <dt>Website</dt>
                        <dd>Nicolas Rudas (<abbr title="Afro Banana Republic">ABR</abbr>)</dd>
                    </dl>
                    <dl>
                        <dt>Digital Marketing</dt>
                        <dd>Martha Georgiou</dd>
                    </dl>
                    <dl>
                        <dt>Construction Crew</dt>
                        <dd>Marios Constantinides</dd>
                        <dd>Nicolas Demosthenous</dd>
                    </dl>
                    <dl>
                        <dt>Volunteers</dt>
                        <dd>Marios Pourgouris (<abbr title="Afro Banana Republic">ABR</abbr>)</dd>
                        <dd>Tasos Iona (<abbr title="Afro Banana Republic">ABR</abbr>)</dd>
                        <dd>Yiota Zachariou</dd>
                        <dd>Adamos Iona</dd>
                        <dd>Raphael Pelengaris</dd>
                        <dd>Stelios</dd>
                    </dl>
                </div>
            </div>
        </section>
        <section class="c361-sponsors">
            <ul>
                <li><a href="" target="_blank"></a></li>
                <li><a href="" target="_blank"></a></li>
                <li><a href="" target="_blank"></a></li>
                <li><a href="" target="_blank"></a></li>
                <li><a href="" target="_blank"></a></li>
                <li><a href="" target="_blank"></a></li>
            </ul>
        </section>
    </section>
    <hr class="c361-helper">
    <footer class="c361-footer-global">
        <div class="c361-inner">
            <div class="copyright">
                Copyright &copy; 2011 - {{ site.time | date: "%Y" }} The Afro Banana Republic <a class="small" href="https://github.com/afrobanana/colony361">Source</a>
            </div>
        </div>
    </footer>
</div>
<!-- Google Analytics -->
<script type="text/javascript">
var _gaq = [['_setAccount', 'UA-25314979-1'], ['_trackPageview']];
(function(d, t) {var g = d.createElement(t), s = d.getElementsByTagName(t)[0];g.async = true;g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';s.parentNode.insertBefore(g, s);})(document, 'script');
</script>
</body>
</html>
