@font-face {
    font-family: 'DINPro';
    src: url('../fonts/dinpro/dinpro.eot');
    src: url('../fonts/dinpro/dinpro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dinpro/dinpro.svg#DINPro') format('svg'),
    url('../fonts/dinpro/dinpro.woff') format('woff'),
    url('../fonts/dinpro/dinpro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
