@font-face {
    font-family: 'October Guard';
    src: url('../fonts/october_guard/october_guard.eot');
    src: url('../fonts/october_guard/october_guard.eot?#iefix') format('embedded-opentype'),
    url('../fonts/october_guard/october_guard.svg#October Guard') format('svg'),
    url('../fonts/october_guard/october_guard.woff') format('woff'),
    url('../fonts/october_guard/october_guard.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
